<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'base.html' %}
<body>
    {% block body %}
    <!-- <img src="https://img.freepik.com/premium-vector/hover-confirmation-button-ui-element-template_106317-35828.jpg?w=2000" alt="" style="width: 100%; height: 50vw;"> -->
    <p style="font-size: 30px;"><b>Booking Confirmed</b></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eum animi velit perspiciatis consequuntur ab ducimus ad cupiditate! Labore, quae doloremque. Minus sequi quaerat animi. Hic ex ipsam sequi iste id laudantium quia, voluptates doloremque et eius, ratione rem reiciendis. Deleniti odio sapiente nisi porro omnis velit incidunt? Ducimus, similique!</p>
    {{form.name}}

    {% endblock body %}
</body>
</html>